<h1><%= "Review for #{@review.book.title}"%></h1>
<%=form_with model: @review do |form|%>
    <%= form.hidden_field :book_id%>
    <p>
    <%= label :rating, 'Rating' %>
    <%= form.number_field :rating, min: 1, max: 5, required: true %>
    </p>
    <p>
    <%=label :comment, 'Comments'%>
    <%= form.text_area :comment %>
    </p>
    <%= form.submit "Add review"%>
    <p class="link item-link"><%= link_to 'Cancel', :back%>
<%end%>
